/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require font-awesome.min
 *= require_self
 */

body { padding-top: 70px }

.navbar-brand {
    padding-left: 50px;
    background-image: image-url("ibpr-abc-logo.png");
    background-repeat: no-repeat;
    margin-left: 10px !important;
    background-position: 0 8px;
}

.navbar-brand:hover {
    background-image: image-url("ibpr-abc-logo-hover.png");
}

.row > div:nth-child(2) > h1:first-child { margin-top: 0 }

button.btn { min-width: 117px }

a.cancel {
    display: inline-block;
    margin-left: 1em;
}