/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch-flatly";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "dashboard";

body { padding-top: 70px }

.navbar-brand:first-child {
    padding-left: 50px;
    background-image: image-url("ibpr-abc-logo.png");
    background-repeat: no-repeat;
    margin-left: 10px !important;
    background-position: 0 8px;
}

.navbar-brand:hover:first-child {
    background-image: image-url("ibpr-abc-logo-hover.png");
}

#subtitle {
    line-height: 18px;
}
#subtitle:hover { color: white }

.row > div:nth-child(2) > h1:first-child { margin-top: 5px }

a.cancel {
    display: inline-block;
    margin-left: 1em;
}

td > a.edit > .glyphicon { color: #2c3e50 }
td > [data-method="delete"] > .glyphicon { color: #e74c3c }

.text-center > .pagination { margin: 0 0 5px 0 }

#left-nav li { min-width: 152px }

.round-topleft tr:first-child > td:first-child,
.round-topleft tr:first-child > th:first-child,
{ border-top-left-radius: 10px }
.round-topright tr:first-child > td:last-child,
.round-topright tr:first-child > th:last-child,
{ border-top-right-radius: 10px }
.round-bottomleft tr:last-child > td:first-child
{ border-bottom-left-radius: 10px }

.cancel-link {
    margin-left: 0.5em;
}

.search-results a { text-decoration: none }
.search-results td:last-child { padding-left: 1em }

.yesno { min-width: 97px }

.tag object {
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/* Override bootstrap-theme */
a.list-group-item .list-group-item-heading.text-info {
    color: #3498db;
}

/* Loading */
.loading {
    display: inline-block;
    background-image: image-url("loading.gif");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    vertical-align: middle;
    float: right;
    position: absolute;
    margin-left: 30px;
}

.table-striped > tbody > tr:nth-child(odd) > td > .loading {
    background-image: image-url("loading2.gif");
}

.table-striped > tbody > tr:hover > td > .loading {
    background-image: image-url("loading3.gif");
}

.bootbox .modal-dialog { z-index: 1050; }

.affix { position: static }

@media print {
    .col-md-2 {
        display: none;
    }

    a:link:after, a:visited:after { content: "" }

    a:link { text-decoration: none }
}
